.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--spacing-2xl) var(--spacing-sm) var(--spacing-2xl);
  gap: var(--spacing-2xl);
}

.copyright {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.15px;
  color: var(--color-secondary);
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: var(--spacing-lg);
    padding: 0 var(--spacing-lg) var(--spacing-lg) var(--spacing-lg);
    align-items: center;
  }
}

