.navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
}

.items {
  display: flex;
  max-width: 44rem;
  width: 100%;
  justify-content: space-between;
}

.profile {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.icon {
  width: 100%;
  padding: 0;
  margin: 0;
}

.menus {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  align-items: center;
}

.menus > * {
  cursor: pointer;
}
