.post {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.post * {
  opacity: 1;
}

.post:hover {
  opacity: 1;
}

.thumbnail {
  max-width: 100%;
  max-height: 20rem;
  object-fit: contain;
  cursor: pointer;
  opacity: 1;
}

.title {
  cursor: pointer;
}
