body *::selection {
  background: rgb(206, 204, 204);
}

main h1,
h2,
h3 {
  padding-top: 2rem;
}

main a {
  color: rgb(138, 138, 138);
}

main img {
  max-height: 25rem;
  object-fit: contain;
}

main blockquote {
  font-size: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

ul {
  margin: 0;
  padding-left: 8px;
}
