:root {
  --color-blue: rgb(51, 126, 169);
  --font-weight-regular: 500;
  --font-weight-bold: 600;
  --font-weight-extrabold: 700;
}

body *::selection {
  background: rgb(206, 204, 204);
}

main a {
  color: rgb(138, 138, 138);
}

main img {
  max-height: 25rem;
  object-fit: contain;
}

main blockquote {
  font-size: 1rem;
}
