.navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
}

.navItems {
  display: flex;
  max-width: 44rem;
  width: 100%;
  justify-content: space-between;
}

.profile {
  width: 3rem;
  height: 3rem;
  border: 1px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.profileIcon {
  width: 100%;
  padding: 0;
  margin: 0;
}

.navMenus {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  align-items: center;
}

.navMenus > * {
  cursor: pointer;
}

.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  width: 19rem;
  height: 100vh;
  background-color: rgb(245, 245, 245);
  right: 0;
  top: 0;
  padding: 2rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.4);
  cursor: default;
  animation: fadeLeftIn 0.3s ease-in-out forwards;
  z-index: 10;
}

.sidebarItem {
  width: 100%;
  padding: 0 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.sidebarCloseButton {
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
  transition: all 0.5s;
}

.sidebarCloseButton:hover {
  background-color: rgba(140, 149, 159, 0.2);
  cursor: pointer;
}

.sidebarCloseButton:hover {
  background-color: rgba(140, 149, 159, 0.2);
  cursor: pointer;
}

.sidebarTitle {
  padding: 0 1rem;
  width: 100%;
}

.sidebarBreak {
  width: 100%;
}

.sidebarBlur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(140, 149, 159, 0.2);
  cursor: default;
}

@keyframes fadeLeftIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
