.body {
  padding-top: 4rem;
}

.header {
  height: 12rem;
  padding-top: 0rem;
}

.background {
  width: 100%;
  height: 16rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(0deg, #fff2d8, #333);
  background-size: 100% 400%;
  animation: bg-pan-top 4s infinite alternate both;
}

.description {
  font-weight: 500;
  padding-top: 0;
  padding-bottom: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main * {
  width: 44rem;
  max-width: 100%;
}

.main table {
  width: 100%;
  table-layout: auto;
}

.main td {
  word-wrap: break-word;
  overflow: hidden;
  width: 50%;
}

.postBreak {
  width: 100%;
  margin: 2rem 0;
  padding: 0.5px;
  background-color: rgb(206, 204, 204);
}

.swiftUpH1 {
  margin: 0;
  padding: 0;
  letter-spacing: -1px;
  font-size: 3.5rem;
  color: rgb(255, 242, 216);
}

.swiftUpSpan {
  display: inline-block;
  overflow: hidden;
}

.swiftUpIcon {
  font-style: normal;
  position: relative;
  top: 4rem;
  background: linear-gradient(0deg, #fff2d8, #333);
  background-size: 100% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: 0.5s swift-up ease-in-out forwards, bg-pan-bottom 4s infinite 0s alternate both;
}

@keyframes swift-up {
  to {
    top: 0;
  }
}

@keyframes bg-pan-top {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes bg-pan-bottom {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

@media (max-width: 380px) {
  .swiftUpH1 {
    margin: 0;
    padding: 0;
    letter-spacing: -1px;
    font-size: 3rem;
    color: #fff2d8;
  }
}
