.body {
  padding-top: 4rem;
}

.header {
  height: 12rem;
  padding-top: 0rem;
}

.background {
  width: 100%;
  height: 16rem;
  background-color: rgb(51, 51, 51);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.description {
  font-weight: 500;
  padding-top: 0;
  padding-bottom: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main * {
  width: 44rem;
  max-width: 100%;
}

.main table {
  width: 100%;
  table-layout: auto;
}

.main td {
  word-wrap: break-word;
  overflow: hidden;
  width: 50%;
}

.postBreak {
  width: 100%;
  margin: 2rem 0;
  padding: 0.5px;
  background-color: rgb(206, 204, 204);
}

.swiftUpH1 {
  margin: 0;
  padding: 0;
  letter-spacing: -1px;
  font-size: 3.5rem;
  color: rgb(255, 242, 216);
}

.swiftUpSpan {
  display: inline-block;
  overflow: hidden;
  animation: 0.3s swift-up ease-in-out forwards;
}

.swiftUpIcon {
  font-style: normal;
  position: relative;
  top: 4rem;
  animation: 0.5s swift-up ease-in-out forwards;
}

@keyframes swift-up {
  to {
    top: 0;
  }
}

@media (max-width: 380px) {
  .swiftUpH1 {
    margin: 0;
    padding: 0;
    letter-spacing: -1px;
    font-size: 3rem;
    color: rgb(255, 242, 216);
  }
}
