.post {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.thumbnail {
  max-width: 100%;
  max-height: 20rem;
  object-fit: contain;
  cursor: pointer;
}

.postTitle {
  cursor: pointer;
}

.contents * {
  transition: all 0.5s;
}

.rotateStartAnimation {
  animation: rotateStart 0.5s ease-in-out forwards;
}

.rotateEndAnimation {
  animation: rotateEnd 0.5s ease-in-out forwards;
}

@keyframes rotateStart {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(450deg);
  }
}

@keyframes rotateEnd {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
