.rotate-start {
  animation: rotateStart 0.5s ease-in-out forwards;
}

.rotate-end {
  animation: rotateEnd 0.5s ease-in-out forwards;
}

@keyframes rotateStart {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(450deg);
  }
}

@keyframes rotateEnd {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
