.post {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.thumbnail {
  max-width: 100%;
  max-height: 20rem;
  object-fit: contain;
  cursor: pointer;
}

.postTitle {
  cursor: pointer;
}

.contents * {
  transition: all 0.5s;
}
