.body {
  padding-top: 4rem;
}

.header {
  height: 12rem;
  padding-top: 0rem;
}

@media (max-width: 400px) {
  .header {
    height: 8rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main * {
  width: 44rem;
  max-width: 100%;
}

.main table {
  width: 100%;
  table-layout: auto;
}

.main td {
  word-wrap: break-word;
  overflow: hidden;
  width: 50%;
}

.main hr {
  width: 100%;
}
